<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf">
        <title>assignment 10</title>
        <link type="text/css" rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>house plants</h1>
        <div id="myApp">
            <table>
                <thead>
                    <div class="header-row">
                        <th>name</th>
                        <th>age</th>
                        <th>care</th>
                    </div>
                </thead>
                <tbody>
                    <tr is="plants-component"
                    v-for="plant in plants"
                        :class="{key: plant.age>6}"
                        :name="plant.name"
                        :age="plant.age"
                        :care="plant.care"></tr>
                </tbody>
            </table>
            <div class="key">
                <h2>oldest plant i own</h2>
            </div>
            <div class="addAPlant">
                <form v-on:submit.prevent="addPlant">
                    <fieldset>
                        <legend>Add a plant</legend>
                        <label>Name<input v-model="nameInput" type="text"></label><br>
                        <label>Age<input v-model="ageInput" type="text"></label><br>
                        <label>Care<input v-model="careInput" type="text"></label><br>
                        <label>Id<input v-model="idInput" type="text"></label><br>
                        <button type="submit">Add plant</button>
                    </fieldset>
                </form>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="script.js"></script>
    </body>

</html>